.header-bg {
  $header--height: 100px;
  $header__logo--padding: 16px;
  $header__logo-tiki--width: 60px;
  $header__logo-freeship--width: 83px;

  background-color: #0080ff;
  height: $header--height;
  .header {
    width: 100%;
    max-width: 1240px;
    margin: auto;
    background-color: green;
  }
  .logo {
    display: inline-block;
    height: 100px;
    margin: 0px 120px 0px 0px;
    
    .logo-tiki {
      width: $header__logo-tiki--width;
      height: auto;
    }
    .logo-freeship {
      width: $header__logo-freeship--width;
      height: auto;
      position: relative;
    }
  }
  .timkiem {
    width: 100%;
    max-width: 400px;
  }
}