@use "sass:math";
.widthlimit {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
body {
  background-color: green;
}
.whitetext {
  font: 12px sans-serif;
  color: white;
}
.header {
  $header--height: 100px;
  $header__logo--padding: 16px;

  background-color: dodgerblue;
  height: $header--height;
  display: flex;
  flex-flow: column;
  &__leftside {
    display: flex;
    justify-content: flex-start;
  }
  &__rightside {
    display: flex;
    justify-content: flex-end;
  }
  &__top {
    margin: auto;
    height: 50%;
    display: flex;
    align-items: center;
  }
  &__bottom {
    margin: auto;
    height: 50%;
    display: flex;
    align-items: center;
  }
  &__logotop {
    $tiki-width: 60px;
    display: flex;
    box-sizing: border-box;
    margin: 0 {right: 206px - $tiki-width;};

    &-tiki {
      width: $tiki-width;
      height: auto;
    }
  }
  &__logobottom {
    $freeship-width: 83px;
    display: flex;
    box-sizing: border-box;
    margin: 0 {right: 206px - $freeship-width;};

    &-freeship {
      width: $freeship-width;
      height: auto;
    }
  }
  &__dangnhap {
    display: flex;
    width: 300px;
    &-logo{
      width: 28px;
      height: 28px;
    }
  }
  &__giohang {
    display: flex;
    align-items: flex-end;
    &-logo{
      width: 28px;
      height: 28px;
    }
  }
  &__formtimkiem {
    display: flex;
    width: 100%;
  }
  &__timkiem {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: 0 0 2px 2px;
    &:focus {
      outline: none;
    }
  }
  &__nuttimkiem {
    border: none;
    background-color: #0D5CB6;
    padding: 0px 20px;
    height: 40px;
  }
  &__banhang {
    display: flex;
    justify-content: flex-end;
    &-nut {
      background-color: skyblue;
      border: none;
      border-radius: 10px;
    }
  }
  &__theloai {
    table-layout: auto;
    td {
      padding: 0 8px 0 0;
    }
  }
}
.cactheloai {
  $cactheloai--height: 44px;
  position: relative;
  background-color: white;
  &__content {
    overflow: hidden;
    white-space: nowrap;
    transition: 1s;
    &-button {
      height: $cactheloai--height;
      padding: 0px 15px;
      font-size: 11pt;
      border: none;
      background-color: transparent;
    }
  }
  &__left {
    height: $cactheloai--height;
    position: absolute;
    border: none;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
  }
  &__right {
    position: absolute;
    height: $cactheloai--height;
    right: 0px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
  }
}
.footer {
}
.goi-y-hom-nay {
}
.banners_row_1 {
  $item-width: 825px;
  $item-height: 275px;
  $button-size: 30pt;
  display: flex;
  height: $item-height;
  flex-direction: row;
  &__item {
    height: auto;
  }
  &__14_items {
    position: relative;
    min-width: 0%;
    width: $item-width;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: 1s;
  }
  &__hoan50kxu {
    min-width: 0%;
  }
  &__prev, &__next {
    background-color: transparent;
    border: none;
    color: white;
    opacity: 50%;
    font-size: $button-size;
    position: absolute;
    cursor: pointer;
  }
  &__prev {
    left: 0px;
    top: math.div($item-height - $button-size, 2);
    //transform: translate(0%, math.div($item-height - $button-size, 2));
  }
  &__next {
    right: 0px;
    top: math.div($item-height - $button-size, 2);
    //transform: translate($item-width - $button-size * 2, math.div($item-height - $button-size, 2));
  }
}
.banners_row_2 {
  &__banner5items {
    width: 490px;
    overflow: hidden;
  }
}